.menu {
  min-width: 1100px;
  max-width: 1600px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px;
  color: black;
  position: RELATIVE;
  z-index: 1;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 0px 100px;
  font-family: "Noto serif", "generic sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 811px;
  margin: 0 auto;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 100px;
  list-style-type: none;
}
