.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", "Times New Roman", Times, "generic sans-serif", "Arial",
    "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: rgb(255, 255, 255);
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  margin: 24px 0 80px 0;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  font-family: "Inter", "Times New Roman", Times, "generic sans-serif", "Arial",
    "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  display: block;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 0;
}
